.akuntabilitas .search-btn form {
    width: 100%;
    position: relative;
}

.akuntabilitas .search-btn i {
    color: #cdcdcd;
    left: 24px;
    top: 14px;
    position: absolute
}

.akuntabilitas .search-btn input {
    background: #FFFFFF;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 0 12px 64px;
}

.akuntabilitas .search-btn input::placeholder {

    color: #CDCDCD;
}

.file-wrap {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04),
        0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.file-wrap .dropdown a .col-8 {
    padding-top: 12px;
}

.file-wrap .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: white;
}

.file-wrap .btn:active {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: white;
}

.file-wrap h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #505050;

}

.file-wrap p {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #CDCDCD;
}

.file-wrap .collapse h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-top: 8px;
    color: #505050;
    margin-bottom: 0;

}

.akuntabilitas-content {
    width: 48% !important;
}

.akuntabilitas .col-lg-4 {
    width: 32%;
}

.files {
    background: #FFFFFF;
    border-radius: 20px;
    margin-right: 10px;
}

.files .time {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #ABABAB;

}

.files h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;

    color: #505050;

}

.files p {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    /* or 150% */


    color: #ABABAB;

}