.online-services .search-btn form {
    width: 100%;
    position: relative;
}

.online-services .search-btn i {
    color: #cdcdcd;
    left: 24px;
    top: 14px;
    position: absolute
}

.online-services .search-btn input {
    background: #FFFFFF;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 0 12px 64px;
}

.online-services .search-btn input::placeholder {

    color: #CDCDCD;
}

/* .online-services .col-lg-3 {
    width: 23%;
}

.online-services .col-lg-6 {
    width: 48%;
} */

.services-wrap {
    background: #FFFFFF;
    border-radius: 20px;
    padding-bottom: 16px;
}

.main-file h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #505050;
    padding-bottom: 8px;
}

.main-file p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    color: #ABABAB;
    padding-bottom: 8px;
}



.main-file .btn {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    background: #F4F4F4;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #989898;

    width: 100%;

}

.sub-services h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;

    color: #505050;

}

.sub-services .btn {
    width: 100%;
    padding: 8px 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    background: #64B7C8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04),
        0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

@media(min-width:330px) {
    .online-services .col-6 {
        width: 48%;
    }

}

@media(min-width:992px) {
    .online-services .col-lg-3 {
        width: 23%;
    }

    .online-services .col-lg-6 {
        width: 48%;
    }

    .main-file .w-100 {
        width: 120% !important;
    }

}