.profile .profile-wrap {
    background: #FFFFFF;
    border-radius: 20px;
}

.profile .profile-wrap .profile-content {
    padding: 86px 24px;
}

.profile .profile-wrap h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;

    color: #294B97;
}


.profile .profile-wrap .btn {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #294B97;
    border: 2px solid #294B97;
    border-radius: 20px;
    margin-top: 12px;
    width: 100%;
    padding: 8px;
}

.profile-content-section .wrapper {
    background: #FFFFFF;
    border-radius: 20px;
}

.profile-content-section h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #294B97;

}

.profile-content-section h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4E4E4E;
}

.profile-content-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;


    letter-spacing: 0.01em;

    color: #ABABAB;

}

.profile-content-section .btn-wrap {
    background: rgba(190, 190, 190, 0.12);
    border-radius: 20px;
}

.btn-wrap .btn-toggle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 10px;
    margin: 8px 4px 8px;
    width: 70%;
    color: #294B97;

}

.btn-wrap .btn-toggle:focus {
    border: 0px #294B97;
    color: #294B97;

}

.btn-check:active+.btn,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:active {


    color: #FFFFFF !important;
    background-color: #294B97 !important;

}

.fungsi {
    background: #F7F7F7;
    border-radius: 20px;
}

.fungsi h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 26px;
    /* or 54% */

    letter-spacing: 0.01em;

    color: #294B97;
}

.fungsi p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: 0.01em;

    color: #505050;
}

.profile-content-section span {
    font-weight: bold;
}