@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html {
  height: 100%;

}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
}

body {
  background: linear-gradient(245.04deg,
      rgba(83, 178, 198, 0.33) 29.95%,
      rgba(113, 132, 230, 0) 108.91%);
  background-attachment: fixed;

}

/* Section Top Nav */
.section {
  background-color: #64b7c8;
  padding: 10px 0;
}



.contact a {
  text-decoration: none;
}

.contact span {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.socmed-icon {
  justify-content: flex-end;
}

/* Navbar */

.navbar-brand {
  max-width: 80%;
}

.navbar {

  list-style: none;
  margin-top: 2px;
}




.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.navbar .dropdown-item {
  color: #838383;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.nav-item .nav-link {
  color: #abacac;
  margin-right: 22px;
  padding: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.navbar .active {
  color: #3899ad;
  border-bottom: 2px solid #3899ad;
}

.navbar .nav-item .btn {
  color: #ffffff;
  background-color: #ffac70;
  padding: 10px 25px;
  border-radius: 15px;
  margin-right: 0;
}






/* Hero */


.header .headline {
  margin-top: 24px;
}

.header .hero img {
  max-width: 110%;
  margin-left: 14px;
}

.header .welcome {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 4px;
  color: #000000;
}

.header h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 44px;

  color: #3899ad;
}

.header h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #e2a75e;
}

.header .description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #a8a8a8;
}

.header .btn {
  background-color: #64b7c8;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50px;
  padding: 12px 40px;
}

.header .btn img {
  margin-left: 12px;
  max-width: 15%;
}

.header .btn-play {
  margin-left: 26px;
  color: #6f6f6f;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50%;
  background-color: #ffac70;
  text-decoration-line: underline;
  padding: 16px 14px 20px 22px;
}

.header .btn-play-text {
  color: #6f6f6f;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-left: 12px;
  text-decoration-line: underline;
}

.header .btn-play img:hover {
  transform: scale(1.1);
}

/* Info Section */
.information p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
  color: #ababab;
}

.information h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 41px;

  color: #468a98;
}

.information span {
  color: #ababab;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.information .dropdown {
  margin-top: 8px;
}


.information .dropdown .btn {
  background-color: #fcfcfc;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 28px;
  border-radius: 10px;
  color: #ababab;
}

.information .dropdown .category-btn {
  padding: 8px 20px;
}

.information form {
  position: relative;

}

.information form i {
  color: #ababab;
  position: absolute;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  min-width: 40px;
  top: 20px;
  right: 204px;
}

.information form input {
  padding-left: 30px;
  max-width: 225px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 8px;
}

.information form input::placeholder {
  color: #ababab;
}

/* Card Section */


.card {
  margin-top: 34px !important;
  border-radius: 20px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  width: 14rem !important;
  margin-left: 18px !important;
}

.card .card-img-top {
  margin-top: 14px;
}

.card .card-img-top:hover {
  transform: scale(1.03);
}

.card-section span {
  background-color: #f79b58;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  left: 180px;
  top: 20px;
  padding: 5px 15px;
  border-radius: 30px;
}

.card-section .card-body {
  padding: 16px 0;
}

.card-section .card-body h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;

  color: #353535;
}

.card-section .card-body a {
  background: #64b7c8;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 26px;
  padding-left: 27px;
  padding-right: 25px;
  color: #ffffff;
}

.card-section .btn-more img {
  margin-left: 2px;
}

.pagination {
  margin-top: 34px;
  padding-bottom: 35px;
}

.pagination .page-link {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.pagination .arrow {
  padding-top: 3px;
}

.pagination .active {
  color: #ffffff;
  background-color: #f79b58 !important;
  border-color: #f79b58 !important;
  border-radius: 5px;
}

.pagination span {
  color: #ffffff;
}

.bg-card {
  background-color: rgba(83, 180, 200, 0.45);
  border-radius: 50px;
  width: 1140px;
  height: 555px;
  bottom: 0;
  display: block;
  z-index: -1;
}

/* Layanan ONline Section */

.layanan-online p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
  color: #ababab;
}

.layanan-online h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 41px;

  color: #468a98;
}

.layanan-online .card {
  height: 16rem !important;
}

.layanan-online .card-img-top {
  width: 35%;
  margin-top: 32px;
  margin-left: 6px;
}

.layanan-online .card-body {
  padding-left: 6px;
}

.layanan-online .card-body p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  /* padding-bottom: 32px ; */
  color: #acadbe;
}

.layanan-online .card-body h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-top: 8px;
  color: #3c3c3c;
}

.layanan-online .carousel span {
  margin-top: 24px;
}

.layanan-online .carousel .carousel-control-next span {
  margin-left: 38px;
}

/* Layanan Kami */


.layanan-kami .subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
  color: #ababab;
}

.layanan-kami h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 41px;
  margin-bottom: 2px;
  color: #468a98;
}

.layanan-kami img {
  width: 95%;
  margin-left: 24px;
}

.layanan-kami .services {
  margin-top: 8px;
}

.layanan-kami p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 16px;
  color: #ababab;
}

.layanan-kami .services-content .img-checkbox {
  width: 20px;
  margin-left: 0;

}

.layanan-kami .services-content .content-wrap {
  padding-left: 0;
}

.layanan-kami .services-content p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #468A98;
}

/* Helpdesk */
.helpdesk .container {
  background-color: rgba(255, 255, 255, 0.79);
  border-radius: 20px;

  border: 5px solid rgba(222, 222, 222, 0.01);
}

.helpdesk img {
  width: 100%;
  padding-top: 20px;
}

.helpdesk .helpdesk-content p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ABABAB;
  margin-bottom: 0;
}

.helpdesk .helpdesk-content h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 54px;

  color: #468A98;
}

.helpdesk .helpdesk-content .btn-contact {
  background-color: #468A98;
  border-radius: 20px;
  width: 90%;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  padding: 16px 0px;
}


/* Sebaran PT */
.sebaran-pt .container {
  background-color: #F2F9FA;
  border-radius: 20px;
}

.sebaran-pt h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #468A98;
}

.sebaran-pt .count-pt {
  margin: 18px 44px 48px;
}

.sebaran-pt .count-pt .col-2 {
  padding-right: 0;
  padding-left: 0;
}

.sebaran-pt .count-pt h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 74px;
  color: #468A98;
  margin-bottom: 0;
}

.sebaran-pt .count-pt p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;


  color: #468A98;
}

/* Videos Section */

.videos p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ABABAB;
  margin-bottom: 4px;
}

.videos h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;

  color: #468A98;

}

.videos iframe {
  width: 70%;
  border-radius: 20px;

}

.videos .sub-videos iframe {
  width: 100%;
  margin-top: 8px;


}

.videos .sub-videos .videos-card {
  width: 25.5% !important;
  margin-left: 0 !important;
  margin-right: 28px;
  padding-bottom: 12px;
}

.videos .sub-videos .videos-card .body-card img {
  padding: 0;
  width: 150%;
  margin-left: 8px;
  height: auto;
}

.videos .sub-videos .videos-card .body-card span {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #929292;
  width: auto;
  align-self: center;
  padding: 0;
}

.videos .sub-videos .videos-card .body-card .btn {
  border-radius: 20px;
  background-color: rgba(100, 183, 200, 0.43);
  color: #468A98;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  justify-self: end;
  display: flex;
  padding: 4px 16px;
}

.videos .sub-videos .body-card p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding: 0;
  color: #5C5C5C;
  margin: 0 14px;
  padding-left: 16px;
}

.videos .sub-videos .body-card .time p {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: #CDCDCD;
}

.faq .col-lg-12 p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ABABAB;
  margin-bottom: 0;
}

.faq .col-lg-12 h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #468A98;
}

.faq .search-form i {
  color: #468A98;
  top: 10px;
  left: 30px;
  position: relative;
}

.faq .search-form form input {
  border-radius: 20px;
  border: 1.5px solid #468A98;
  color: #468A98;
}

.faq .search-form form input::placeholder {
  color: #468A98;
}

.faq .question-block button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #707070;
  background: #FFFFFF;
  border-radius: 20px;
  border: 0;
  padding: 12px 32px;
  position: relative;
  z-index: 1;
}

.faq .question-block .card-faq {

  border-radius: 5px 5px 20px 20px !important;
  padding: 14px 28px;
  word-wrap: break-word;
  width: 100%;
  border-color: rgba(0, 0, 0, 0.175);
  background-color: #fff;
  font-size: 14px;
  color: #707070;
}

.faq .question-block .card-faq .list-group {
  --bs-list-group-border-width: 0px;
}

.testimonials .testimonials-content p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ABABAB;
}

.testimonials .testimonials-content .title {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  color: #468A98;
}

.testimonials .testimonials-content .count-testimonials h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #468A98;
}

.testimonials .testimonials-content .count-testimonials p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #ABABAB;
}

.testimonials .quote .carousel {
  background: rgba(242, 249, 250, 0.54);
  border-radius: 20px;

}

.testimonials .quote .carousel .carousel-inner {
  background: #FFFFFF;
  border-radius: 20px;
  height: 100%;
  display: grid;
  align-self: center;
  height: 85%;
  width: 90%;
  justify-self: center;
}

.testimonials .quote .carousel .carousel-inner .row .col-12 h2 {
  margin: 24px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #797979;
}

.testimonials .quote .carousel .carousel-inner .row .profile-testimonials h2 {
  font-style: normal;
  padding-top: 12px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #468A98;
}

.testimonials .quote .carousel .carousel-inner .row .profile-testimonials p {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ABABAB;
}

.subscribe {
  position: absolute;
  left: 105px;
  z-index: 1;
}

.subscribe .subscribe-container {
  background: #FCFCFC;
  border-radius: 20px;
}


.subscribe .subscribe-content .row h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #468A98;
}

.subscribe .subscribe-content .row input {
  background: rgba(100, 183, 200, 0.3);
  border: 3px solid #468A98;
  border-radius: 20px;
  padding: 12px 0 12px 64px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  color: #468A98;

}

.subscribe .subscribe-content .row i {
  position: absolute;
  color: #468A98;
  left: 24px;
}

.subscribe .subscribe-content .row button {
  margin-left: 20px;
  background: #468A98;
  border: 3px solid #468A98;
  border-radius: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding: 12px 28px;
  color: #D6F8FF;
}

footer {
  background: #3C3C3C;
  position: relative;
  display: flex;
  top: 200px;
}

footer .footer-wrap {
  padding-top: 300px;
}


footer .wrapper {
  padding-top: 70px;
}

footer .info {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;

}


footer .wrapper h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  padding-bottom: 44px;
  padding-top: 12px;
}

footer .wrapper .contact-footer img {
  padding-right: 8px;
}

footer .wrapper p {

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #FFFFFF;
}

footer hr {
  border: 1px solid #DEDEDE;
}

footer .footer-wrap .copyright {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;

}

.headline h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #468A98;
}

.headline h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 58px;
  color: #468A98;
  margin-top: 6px;

}

.headline .breadcrumb .breadcrumb-item {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #468A98;
  margin-left: 5px;
}

.headline .breadcrumb .breadcrumb-item img {
  margin-right: 5px;
  margin-bottom: 6px;
}

.headline .breadcrumb .breadcrumb-item a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #468A98;

}

.headline nav {
  margin-top: 12px;
}

/* MOBILE */
@media (min-width: 318px) {
  .section {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1080;
  }

  section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .socmed-icon {
    justify-content: flex-start;

  }


  .nav {
    margin-top: 60px;

  }

  .nav .navbar {
    margin-left: 0;
    align-items: flex-start;
  }

  .nav .navbar a {
    padding-top: 6px;
    padding-bottom: 6px;
  }


  .btn-toggler img {
    width: 20px;
    height: 20px;
  }



  .collapse .navbar {
    display: flex;
    flex-direction: column;
  }


  .header .headline .welcome {
    font-size: 18px;
  }

  .header .headline h2 {
    font-size: 36px;
  }

  .header .headline h3 {
    font-size: 20px;
  }

  .header .headline.description {
    font-size: 10px;
  }

  .header .btn-play {
    margin-left: 16px;
  }

  .information p {
    font-size: 16px;
  }

  .information h2 {
    font-size: 36px;
  }

  .information span {
    font-size: 14px;
  }

  .information .btn-group button {
    width: 130px;
  }

  .layanan-online p {
    font-size: 16px;
  }

  .layanan-online h2 {
    font-size: 36px;
  }

  .layanan-online .carousel .carousel-control-next span {
    margin-left: 14px;
  }

  .layanan-kami .subtitle {
    font-size: 16px;
  }

  .layanan-kami h2 {
    font-size: 36px;
  }

  .layanan-kami .services-content p {
    font-size: 14px;
  }

  .helpdesk .container {
    width: 90%;
  }

  .helpdesk .helpdesk-content p {
    font-size: 16px;
  }

  .helpdesk .helpdesk-content h5 {
    font-size: 36px;
  }

  .helpdesk .helpdesk-content .btn-contact {
    font-size: 16px;
  }

  .sebaran-pt .container {
    width: 90%;
  }

  .sebaran-pt .count-pt h1 {
    font-size: 60px;
  }


  .videos .videos-card {
    width: 100% !important;
  }

  .videos .main-videos iframe {
    height: 215px;
    width: 100%;
  }

  .videos .more-btn {
    margin: 2px;
  }

  .videos .more-btn .btn {
    background: #468A98;
    border-radius: 20px;
    width: 100%;
    color: #FFFFFF;
    border-color: #468A98;

  }

  .faq .col-lg-12 p {
    font-size: 14px;
  }

  .faq .question-block button {
    font-size: 14px;
    margin-left: 14px;
  }

  .subscribe .subscribe-content .row h2 {
    font-size: 18px;
    line-height: 24px;
    padding-top: 24px;
  }

  .subscribe .subscribe-content .subscribe-wrapper {
    padding: 60px 0 60px 16px;

  }

  .subscribe .subscribe-content form input {
    width: 240px;
  }

  .subscribe .subscribe-content .row button {
    margin-left: 4px;
    padding: 12px;
  }

  .subscribe {
    position: static;
  }

  footer .footer-wrap {
    padding-top: 90px;
  }

}




@media (min-width: 768px) {
  section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .socmed-icon {
    justify-content: flex-end;
  }

  .nav .md-btn a {

    color: #ffffff !important;
    background-color: #ffac70;
    font-size: 14px;
    font-weight: 600;
    border-radius: 15px;
    line-height: 16px;
    padding: 6px 16px;

  }

  .collapse .navbar {
    display: flex;
    flex-direction: row;
  }

  .nav .navbar {}



  .header .welcome {
    font-size: 20px !important;
  }

  .header h2 {
    font-size: 44px !important;
  }

  .header h3 {
    font-size: 32px !important;
  }

  .header .description {
    font-size: 16px !important;
  }

  .information p {
    font-size: 16px !important;
  }

  .information h2 {
    font-size: 41px !important;
  }

  .layanan-online p {
    font-size: 16px;
  }

  .layanan-online h2 {
    font-size: 41px;
  }

  .layanan-kami .subtitle {
    font-size: 16px;
  }

  .layanan-kami h2 {
    font-size: 41px;
  }

  .layanan-kami .services-content p {
    font-size: 16px;
  }

  .helpdesk .helpdesk-content p {
    font-size: 20px;
  }

  .helpdesk .helpdesk-content h5 {
    font-size: 45px;
  }

  .helpdesk .helpdesk-content .btn-contact {
    font-size: 20px;
  }

  .sebaran-pt h3 {
    font-size: 24px;
  }

  .sebaran-pt .count-pt h1 {
    font-size: 74px;
  }


  .videos .videos-card {
    width: 25.5% !important;
  }

  .videos .main-videos iframe {
    height: 415px;
    width: 70%;
  }

  .videos .more-btn .btn {
    width: 70%;
  }

  .faq .col-lg-12 p {
    font-size: 16px;
  }

  .faq .question-block button {
    font-size: 16px;
  }

  .subscribe {
    left: 70px;
  }

  .subscribe .subscribe-content .row h2 {
    font-size: 30px;
    line-height: 36px;
  }

  .subscribe .subscribe-content form input {
    width: auto;
  }

  .subscribe .subscribe-content .row button {
    margin-left: 20px;
    padding: 12px 28px;
  }

  /* footer .footer-wrap {
  padding-top: 300px;
} */
  footer {
    position: relative;
  }

  footer .footer-wrap {
    padding-top: 180px;
  }

}

@media (min-width:1200px) {
  .subscribe {
    left: 105px;
    position: absolute;

  }

  footer .footer-wrap {
    padding-top: 300px;
  }

}