@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: hsla(33, 100%, 53%, 1);

  background: linear-gradient(
    90deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1 );
}

.section {
  background-color: #64b7c8;
  padding: 15px 0 15px 0;
}

.contact {
  margin-right: 18px;
}
.contact span {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.socmed-icon a {
  margin-left: 24px;
}

nav {
  margin-top: 40px;
}

.nav-item .nav-link {
  color: #abacac;
}

section {
  margin-top: 64px;
}
